p {
  margin: 0;
}

.container {
  margin: 20px 70px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.movieItem {
  background-color: #d6e4e5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  text-decoration: none;
  cursor: pointer;
  color: #497174;
  height: 520px;
  width: 310px;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  transition: all 400ms;
}

.movieItem img {
  border-radius: 10px;
}

.movieItem:hover {
  background-color: #eb6440;
  color: #d6e4e5;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.movieTitle {
  padding: 5px 10px;
  font-weight: 500;
  font-size: 20px;
}
